section{
    background-color: black;
    width: 50px;
    height: 60px;
    border: 1px;
}
div{
    background-color: aqua;
}
h1{
    color: red;
    font-size: 50px;
    line-height: 20%
    background-color: yellow;
}
#apple1{
    font-weight: 100px;
}
h2{
    font-size: 2em;
    margin-left: 20px;
}
article{
    font-size: 20px;
    margin-bottom: 11px;
}
p{
    font-size: 0.5em;
    background-color: rgb(47, 52, 79);
    color: rgb(80, 226, 43);
}
h3{
    font-size: 1.3em;
    padding: 20px;
}
button{
    font-size: 20px;
    padding: 10px 10px 15px;
    background-color: rgb(220, 245, 221);
    border-radius: 20px;
}
ul {
    font-size: 1.5em;
}
#rem h3{
font-size: 7rem;
}
#rem h2{
    font-size: 1.2rem;
    }